<h2 appTitleSize >Lessons List</h2>

<ul class="px-0">
  <li *ngFor="let lesson of lessonsList$ | async" class="card card-edit mb-2 bg-light ">
    <div class="row d-flex justify-content-center align-items-center p-4 ">
      <div class="col-12 px-0">
        <p class="card-text"><strong>Id:</strong> {{ lesson.id }} </p>

        <p class="card-text"><strong>Title:</strong> {{ lesson.title  }} </p>

        <p class="card-text"><strong>Lesson number:</strong> {{ lesson.lessonNumber  }} </p>

        <p class="card-text"><strong>Course:</strong> {{ lesson.course }} </p>


      </div>
      <div class="row mt-3 justify-content-end">
        <ng-container *ngIf="session$ | async as session">
          <button  class="col-2 btn btn-primary" (click)="openModalDialog(lesson)" *ngIf="session.userActive?.isAdmin_">Edit</button>
          <button  class="col-2 btn btn-edit offset-1" (click)="removeLesson(lesson)" *ngIf="session.userActive?.isAdmin_">Remove</button>
        </ng-container>
      </div>
    </div>
  </li>
</ul>
