<h2 appTitleSize >Courses List</h2>

<ul class="px-0">
  <li *ngFor="let course of coursesList$ | async" class="card card-edit mb-2 bg-light ">
    <div class="row d-flex justify-content-center align-items-center p-4 ">
      <div class="col-12 px-0">
        <p class="card-text"><strong>Id:</strong> {{ course.id }} </p>
        <p class="card-text"><strong>Name:</strong> {{ course.courseName  }} </p>
      </div>
      <div class="row mt-3 justify-content-end">
        <ng-container *ngIf="session$ | async as session">
          <button  class="col-2 btn btn-primary" (click)="openModalDialog(course)" *ngIf="session.userActive?.isAdmin_">Edit</button>
          <button  class="col-2 btn btn-edit offset-1" (click)="removeCourse(course)" *ngIf="session.userActive?.isAdmin_">Remove</button>
        </ng-container>
      </div>
    </div>
  </li>
</ul>
