<h2 appTitleSize >Students List</h2>

<ul class="px-0">
  <li *ngFor="let student of studentsTemp$ | async" class="card card-edit mb-2 bg-light ">
    <div class="row d-flex justify-content-center align-items-center p-4 ">
      <div class="col-12 px-0">
        <p class="card-text"><strong>Id:</strong> {{ student.id }} </p>
        <p class="card-text"><strong>Name:</strong> {{ student | studentName }} </p> <!--| studentName -->
        <p class="card-text"><strong>E-mail:</strong> {{ student.email }} </p>
        <p class="card-text"><strong>Course:</strong> {{ student.course }} </p>
      </div>
      <div class="row mt-3 justify-content-end">
        <ng-container *ngIf="session$ | async as session">
          <button  class="col-2 btn btn-primary" (click)="openModalDialog(student)">Edit</button>
          <button  class="col-2 btn btn-edit offset-1" (click)="removeStudent(student)" *ngIf="session.userActive?.isAdmin_">Remove</button>
        </ng-container>
      </div>
    </div>
  </li>
</ul>

